{% extends "vtwi/_base.html" %}
{% load django_bootstrap5 %}

{% block title %}
<title>ホーム | VTwi</title>
{% endblock %}

{% block content %}
<section class="py-4">
  <h2>YouTubeチャンネル</h2>
  <div class="d-flex align-items-center mb-2">
    {% if user.channel_id %}
    <span class="text-success me-3">設定済</span>
    <img class="rounded-circle me-2" src="{{ user.youtube_icon_url }}" alt="" style="height: 2.5rem">
    <span>{{ user.youtube_name }}</span>
    {% else %}
    <span class="text-danger">未設定</span>
    {% endif %}
  </div>
  <form method="post">
    {% bootstrap_form_errors vtwi_user_form type='non_fields' %}
    {% bootstrap_field vtwi_user_form.channel_id placeholder='例:&nbsp;UCxUnuWTQGLw5dO_dl0oqrrg' addon_before='https://www.youtube.com/channel/' %}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" name="form_type" value="vtwi_user">保存</button>
  </form>
</section>
{% endblock %}
